<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nicki & Tony are getting married</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <main>
  <div class="background-text"></div>
  <div id="app">  
    <h1>{{ message }}</h1>
	<div class="p1-container">
	<p class="p1">Save the date: 13th December 2025</p>
	</div>
	<div class="p2-container">
		<p class="p2">Location: The Green House Hotel, Bournemouth, BH1 3AX</P>
	</div>
    <div class="button-container">
	  <button class="gold-button" @click="openModal('rsvp')">RSVP</button>
      <button class="red-button" @click="openModal('location')">Location Maps & Parking</button>
	  <button class="red-button" @click="openModal('menus')">Menu's & Options</button>
      <button class="gold-button" @click="openModal('upload')">Upload Your Images here</button>
      <button class="gold-button" @click="openModal('order')">order of the day</button>
	  <button class="red-button" @click="openModal('about')">All About Us</button>
    </div>	

   <!-- Modal  -->
    <div v-if="isModalOpen" class="modal">
	  <div class="modal-content">
		<span class="close" @click="closeModal">&times;</span>
		<h2 v-html="modalContent.message">{{modalContent.message }}</h2>
		<div v-if="modalContent.text === 'Additional parking can be found highlighted on the image below'" id="modal-map" style="height: 300px;"></div>
		<p v-html="modalContent.text">{{ modalContent.text }}</p>
		<div v-if="modalContent.message === 'Nicki & Tony'">
			<div v-html="modalContent.paragraph"></div>
		</div>
		<img :src="modalContent.image">				
	  </div>
    </div>		
  </div>
 
  
  </main>

  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@800&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBysIm4-nGzTOpYWYRjYJQ-g7tRIAmVb2I&callback=initMap" async defer></script>
  <script src="app.js"></script>  
  
</body>
</html>
