/* main.css */

/* 1. Tailwind & Font Imports */
@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sergio+Trendy&display=swap');

/* 2. Animations */
@keyframes sparkle {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* 3. Typography & Shared Styles */
h1 {
  margin-top: 5vh;
  font-size: 4.3vw; /* Slightly larger font size */
  color: transparent;
  -webkit-text-stroke: 0.1px rgba(206, 130, 16, 0.774);
  background: linear-gradient(45deg, #ffd700, #ffcc00, #ffd700, #ffcc00);
  background-size: 400% 400%;
  font-family: 'Alex Brush', cursive;
  animation: sparkle 1.5s infinite linear;
  -webkit-background-clip: text;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  height: auto;
}

h2 {
  font-size: 2.5vw;
  color: black;
  -webkit-text-stroke: 0.1px rgb(0, 0, 0);
  font-family: 'Sergio Trendy', cursive;
  animation: sparkle 1.5s infinite linear;
  -webkit-background-clip: text;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: left;
  height: auto;
}

.p1 {
  font-size: 1.5vw;
  color: black;
  -webkit-text-stroke: 0.1px rgb(0, 0, 0);
  font-family: 'Sergio Trendy', cursive;
  animation: sparkle 1.5s infinite linear;
  -webkit-background-clip: text;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  height: auto;
}

.p2 {
  font-size: 1vw;
  -webkit-text-stroke: 0.1px rgb(0, 0, 0);
  font-family: 'Sergio Trendy', cursive;
  animation: sparkle 1.5s infinite linear;
  -webkit-background-clip: text;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  height: auto;
}

.p3 {
  font-size: 0.75vw;
  color: black;
  -webkit-text-stroke: 0.1px rgb(0, 0, 0);
  font-family: 'Sergio Trendy', cursive;
  animation: sparkle 1.5s infinite linear;
  -webkit-background-clip: text;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: left;
  height: auto;
}

/* 4. Scrollbar Styles */
.scrollbar::-webkit-scrollbar {
  width: 1px;
  border-radius: 1px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #4A5568;
  border-radius: 2px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #CBD5E0;
  border-radius: 1px;
}

/* 5. Vue Transition Classes */
.slide-enter-active,
.slide-leave-active {
  transition: opacity 0.5s;
}

.slide-enter,
.slide-leave-to {
  opacity: 0;
}

/* 6. Responsiveness */
@media (max-width: 715px) {
  #app {
    background-size: auto auto;
  }
}

/* 7. Modal Classes */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* 8. Custom Button Styles */
.custom-button {
  width: 50%;
  height: 5vw;
  border-radius: 2.5vw;
  font-size: 1vw;
  font-weight: bold;
  color: #000;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out,
              background-image 0.2s ease-in-out,
              color 0.2s ease-in-out; 
  border: 2px solid black; /* Black border */
}

.custom-button:hover {
  transform: scale(1.05);
  background-image: url('../../public/images/red-background-image.jpg');
  color: white; /* Change text color to white on hover */
}

/* Use this class if you want a default gold background on the button */
.bg-button-image {
  background-image: url('../../public/images/gold-background-image.jpg');
  background-size: cover;
  background-position: center;
}
